<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../../app/musica/musica.component.css"> <!-- Agrega tu archivo CSS aquí -->
    <title>Hello, world!</title>
</head>

<body>
    <div class="container-fluid">
        <div class="inicio-container">
            <header class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <div class="logo">
                        <img src="../../assets/logoColdplay.png" alt="Logo de la banda musical" class="img-fluid">
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="/acerca-de">Acerca De</a></li>
                            <li class="nav-item"><a class="nav-link" href="/productos">Música</a></li>
                            <li class="nav-item"><a class="nav-link" href="/productos">Tienda</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contactos">Contactos </a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/registro">Registro </a></li>
                        </ul>
                    </div>
                </div>
            </header>

            <div class="canciones-destacadas">
                <h2 class="h4">Canciones Destacadas</h2>
                <ul class="list-group">

                    <li class="list-group-item">
                        <img src="../../assets/Parachutes.jpeg" alt="Canción 1" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">Parachutes</h3>
                            <p class="cancion-descripcion">"Parachutes" es el álbum debut de la banda británica Coldplay, lanzado en julio de 2000. Este aclamado álbum introdujo al mundo el distintivo sonido melódico y emotivo de Coldplay. </p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>
            
                    <li class="list-group-item">
                        <img src="../../assets/A Rush of Blood to the Head.jpeg" alt="Canción 2" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">A Rush of Blood to the Head</h3>
                            <p class="cancion-descripcion">"A Rush of Blood to the Head" es el segundo álbum de estudio de la banda británica Coldplay, lanzado en agosto de 2002. Este álbum consolidó la posición de Coldplay como una de las bandas más influyentes y exitosas de la escena musical internacional.</p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <img src="../../assets/X&Y.png" alt="Canción 3" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">X&Y</h3>
                            <p class="cancion-descripcion">"X&Y" es el tercer álbum de estudio de la banda británica Coldplay, lanzado en junio de 2005. Este álbum marcó otro hito significativo en la carrera de la banda y continuó consolidando su estatus como una de las principales bandas de rock a nivel mundial.</p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>
            
                    <li class="list-group-item">
                        <img src="../../assets/Viva la vida or death and all his friends.jpeg" alt="Canción 3" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">Viva la vida or death and all his friends</h3>
                            <p class="cancion-descripcion">"Viva la Vida or Death and All His Friends" representa un cambio significativo en el sonido de Coldplay. El álbum, producido por Brian Eno y Markus Dravs, presenta una experimentación musical más amplia y compleja en comparación con los trabajos anteriores de la banda.</p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <img src="../../assets/LeftRightLeftRightLeft.jpeg" alt="Canción 3" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">LeftRightLeftRightLeft</h3>
                            <p class="cancion-descripcion">"LeftRightLeftRightLeft" es un álbum especial en vivo que captura la energía y la emoción de las presentaciones en directo de Coldplay. Fue lanzado como un regalo a los fanáticos durante la gira "Viva la Vida", como agradecimiento por su apoyo.</p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <img src="../../assets/Mylo Xyloto.jpeg" alt="Canción 3" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">Mylo Xyloto</h3>
                            <p class="cancion-descripcion">"Mylo Xyloto" es un álbum conceptual que presenta una historia narrativa a lo largo de sus canciones. El álbum fusiona el característico sonido melódico y reflexivo de Coldplay con elementos de música electrónica y pop. El título en sí mismo, "Mylo Xyloto", es un término que la banda ha descrito como un personaje ficticio en el contexto de la historia que se desarrolla en el álbum.</p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <img src="../../assets/Ghost stories.jpeg" alt="Canción 3" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">Ghost stories</h3>
                            <p class="cancion-descripcion">"Ghost Stories" representa un cambio en el sonido de Coldplay, adoptando un tono más íntimo y reflexivo en comparación con algunos de sus trabajos anteriores. El álbum fue influenciado por la separación del vocalista Chris Martin y la actriz Gwyneth Paltrow, y gran parte de su contenido lírico refleja los temas de la pérdida y el amor.</p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <img src="../../assets/A head full of dreams.jpeg" alt="Canción 3" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">A head full of dreams</h3>
                            <p class="cancion-descripcion">"A Head Full of Dreams" marca un regreso a la energía y la positividad para Coldplay después del tono más melancólico de su álbum anterior, "Ghost Stories". Este álbum presenta un sonido más colorido y optimista, incorporando elementos de pop, dance y electrónica en sus melodías.</p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <img src="../../assets/Live in Buenos Aires.jpeg" alt="Canción 3" class="cancion-imagen">
                        <div class="cancion-info">
                            <h3 class="cancion-titulo">Live in Buenos Aires</h3>
                            <p class="cancion-descripcion">Este álbum en vivo captura la energía vibrante y la conexión única que Coldplay establece con su audiencia durante sus conciertos. Grabado durante el último concierto de la gira "A Head Full of Dreams Tour" en el Estadio Ciudad de La Plata en Buenos Aires, Argentina, el 15 de noviembre de 2017, el álbum ofrece una experiencia inmersiva para los fanáticos de la banda.</p>
                            <a href="#" class="btn btn-outline-primary">Reproducir</a>
                        </div>
                    </li>


                </ul>
            </div>

            <footer class="bg-dark text-white py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-logo">
                                <img src="../../assets/logoColdplay.png" alt="Logo de la banda musical" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="footer-social text-end">
                                <h4>Síguenos</h4>
                                <ul class="social-icons">
                                    <li><a href="https://instagram.com/coldplay?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/coldplay?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU?si=wl5XmZfGQ3ejp30nfQ954w" target="_blank"><i class="fab fa-spotify"></i></a></li>
                                    <li><a href="https://www.youtube.com/@coldplay" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2023 Coldplay. Todos los derechos reservados. | <a href="#inicio"
                                    class="text-white">Volver arriba</a></p>
                        </div>
                        <div class="col-md-6">
                            <p><a href="/politica-privacidad" class="text-white">Política de Privacidad</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>