<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../../app/inicio/inicio.component.css"> <!-- Agrega tu archivo CSS aquí -->
    <title>Hello, world!</title>
</head>

<body>
    <div class="container-fluid">
        <div class="inicio-container">
            <header class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <div class="logo">
                        <img src="../../assets/logoColdplay.png" alt="Logo de la banda musical" class="img-fluid">
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="/acerca-de">Acerca De</a></li>
                            <li class="nav-item"><a class="nav-link" href="/musica">Música</a></li>
                            <li class="nav-item"><a class="nav-link" href="/productos">Tienda</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contactos">Contactos </a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/registro">Registro </a></li>
                        </ul>
                    </div>
                </div>
            </header>

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/Coldplay3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/Coldplay2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/Coldplay.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

            <main class="py-3">
                <div class="container">
                    <h1 class="display-4">COLDPLAY</h1>
                    <p class="lead">Explora nuestros éxitos en la Música.</p>

                    <section class="artistas-container my-4">
                        <h2 class="h4">Conoce a los artistas de Coldplay</h2>
                    
                        <div class="row">
                            <div class="col">
                                <div class="artista">
                                    <img src="../../assets/Chris Martin.jpg" alt="Artista 1" class="img-fluid">
                                    <h3>Chris Martin</h3>
                                    <p>Vocalista principal.</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="artista">
                                    <img src="../../assets/Jonny Buckland.jpg" alt="Artista 2" class="img-fluid">
                                    <h3>Jonny Buckland</h3>
                                    <p>Guitarrista.</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="artista">
                                    <img src="../../assets/Guy Berryman.jpg" alt="Artista 2" class="img-fluid">
                                    <h3>Guy Berryman</h3>
                                    <p>Bajista.</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="artista">
                                    <img src="../../assets/Will Champion.jpg" alt="Artista 2" class="img-fluid">
                                    <h3>Will Champion</h3>
                                    <p>Baterista.</p>
                                </div>
                            </div>

                            <div class="col">
                                <div class="artista">
                                    <img src="../../assets/Phil Harvey.jpg" alt="Artista 2" class="img-fluid">
                                    <h3>Phil Harvey</h3>
                                    <p>Manager y colaborador.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    

                    <div class="ofertas-container my-4">
                        <h2 class="h4">¡Ofertas Especiales!</h2>
                        <p>Aprovecha nuestras productos en oferta.</p>
                        <div class="ofertas-imagenes row">
                            <div class="col">
                                <img src="../../assets/Oferta1.jpg" alt="Oferta 1" class="img-fluid">
                            </div>
                            <div class="col">
                                <img src="../../assets/Oferta2.jpg" alt="Oferta 2" class="img-fluid">
                            </div>
                            <div class="col">
                                <img src="../../assets/Oferta3.jpg" alt="Oferta 3" class="img-fluid">
                            </div>
                        </div>
                        <br>
                        <a routerLink="/productos" class="btn btn-primary">Ver Productos</a>
                    </div>
                </div>
            </main>

            <footer class="bg-dark text-white py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-logo">
                                <img src="../../assets/logoColdplay.png" alt="Logo de la banda musical" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-social text-end">
                                <h4>Síguenos</h4>
                                <ul class="social-icons">
                                    <li><a href="https://instagram.com/coldplay?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/coldplay?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU?si=wl5XmZfGQ3ejp30nfQ954w" target="_blank"><i class="fab fa-spotify"></i></a></li>
                                    <li><a href="https://www.youtube.com/@coldplay" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2023 Coldplay. Todos los derechos reservados. | <a href="#inicio"
                                    class="text-white">Volver arriba</a></p>
                        </div>
                        <div class="col-md-6">
                            <p><a href="/politica-privacidad" class="text-white">Política de Privacidad</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>
